.admin-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-panel-header {
    align-self: flex-end;
    margin-bottom: 1rem;
}

.admin-panel-table {
    margin-top: 1rem;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
}