.env
.venv/
.vscode/
.agent/

__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.pkl
osmosmjerka.egg-info/
.ruff_cache/

*.db
*.sqlite3
*.log
*.pem

backend/static/
backend/db/

frontend/node_modules/
frontend/dist/
frontend/build/
package-lock.json

osmosmjerka-deployment.yaml

db/

build/
coverage/