.env
.venv/
.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
osmosmjerka.egg-info/

*.db
*.sqlite3
*.log
*.pem

frontend/node_modules/
frontend/dist/
frontend/build/
package-lock.json

osmosmjerka-deployment.yaml

db/

build/